<form id="form_id" action="<%= notes_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="note[track_id]" value="<%= track.id %>">

  <label for="note_body">Note</label>
  <br>
  <textarea name="note[body]"></textarea>
  <br>

  <button>Attach Note</button>
</form>
