<% content_for :title do %>
<h1>Add a Track</h1>
<% end %>

<%= render(
  partial: "shared/errors",
  locals: {errors: @track.errors.full_messages}
)%>

<%= render partial: "form", locals: {track: @track, albums: @albums} %>

<p>
  <a href="<%= bands_url %>">All Bands</a>
</p>
